{% extends 'base.html' %}

{% block head %}
<title>New Post</title> 
{% endblock %}

{% block body %}
<h1>New Post</h1>

<hr>
    <form action='/posts' method='POST' class="form-horizontal">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" required>
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">Author:</label>
    <div class="col-sm-10">
	    <input type="text" class="form-control" name='author' id="author" placeholder="Enter Author" required>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Content:</label>
    <div class="col-sm-10">
        <textarea class="form-control" name='content' id="content" placeholder="Enter Content" aria-label="Enter Content" rows="3" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
	    <button type="submit" class="btn btn-primary">Post</button>
      <br>
      <br>
    </div>
  </div>
</form>

<hr>

{% endblock %}
