{% extends "base.html" %}

{% block head %}

<title> GBlog - Home </title>

{% endblock  %}





{% block body %}

<h1> GBlog </h1>

{% if  isAdmin %}
<a href='/posts/new'>New Post</a>
{% endif %}

{% if isLogged %}

<a href='/logout'>LOG OUT</a>

{% else %}

<a href='/login'>LOG IN</a>
{% endif %}

    <hr>
{% for post in posts %}

        <h2>{{ post.title }}</h2>
        {% if post.author %}
            <small> Written by {{ post.author }} on {{ post.date_posted }}</small>
        {% else %}
            <small> Written by Unknown on {{ post.date_posted }}</small>
        {% endif %}
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ post.content }}</p>
        <br>

	{% if  isAdmin %}
	<a href='/posts/delete/{{post.id}}'>Delete</a>
	<a href='/posts/edit/{{post.id}}'>Edit</a>
	{% endif %}

	<hr>

{% endfor %}

{% endblock  %}
